<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Carrito de producto</title>
        <%- include("../partials/head") %>
        <script
          src="https://kit.fontawesome.com/b42ec8045a.js"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://kit.fontawesome.com/6d37a11b52.js"
          crossorigin="anonymous"
        ></script>
        <!--Hoja de Estilo para carrito de producto-->
        <link href="../css/checkout.css" rel="stylesheet" />
      </head>
<body>
  <%- include("../partials/header") %>
  <main class="delivery-main">
    <form class="row g-3">
      <section class="delivery-title-form">
        <h1 class="tit-links"></h1>
        <a>DETALLES DE ENVIO</a>
      </section>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
    <img class="catGif" src="/img/shippingCat3.gif" width="10%">
    <form class="shipping-form">
      <section class="shipping-section">
        <div class="campos">
          <p><label for="province">Provincia</label></p>
          <input type="text" name="province" id="province" placeholder="Santiago del Estero">

          <p><label for="city">Ciudad</label></p>
          <input type="city" name="city" id="city" placeholder="La Banda">

          <p><label for="cp">Codigo Postal</label></p>
          <input type="cp" name="cp" id="cp" placeholder="4300">

          <p><label for="town">Barrio</label></p>
          <input type="town" name="town" id="town" placeholder="Centro">

          <p><label for="adress">Dirección</label></p>
          <input type="adress" name="adress" id="adress" placeholder="Belgrano 1700">
    </form>
    <div class="confirm-container">
      <button class="confirm-button">Confirmar</button>
    </div>
  </main>
  <%- include("../partials/footer") %>
</body>
</html>