<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Creación de producto</title>
  <%- include("../partials/head") %>
    <script src="https://kit.fontawesome.com/b42ec8045a.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/createProduct.css" />
</head>

<body>
  <%- include("../partials/header") %>
    <main class="create-main">
      <div class="container_createProduct">
        <form class="create-form" action="/products/create" method="post" onsubmit="showSuccessAlert()">
          <section class="register-title-form">
            <h1 class="tit-links">Crear tu producto</h1>
          </section>
          <div class="campos">
            <label for="img">Imagen:</label>
            <input type="file" name="img" id="img" accept="image/*" required />
            <br />
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" required />
            <br />
            <label for="marca">Marca:</label>
            <input type="text" name="marca" id="marca" required />
            <br />
            <label for="sabor">Sabor:</label>
            <input type="text" name="sabor" id="sabor" required />
            <br />
            <label for="peso">Peso:</label>
            <input type="number" name="peso" id="peso" required />
            <br />
            <label for="precio">Precio:</label>
            <input type="number" name="precio" id="precio" required />
            <br />
            <label class="create-descrip" for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion" rows="4" required></textarea>
            <br />
            <input class="create-button" type="submit" value="Crear Producto" />
          </div>
        </form>
      </div>
    </main>
    <script>
      function showSuccessAlert() {
        const success = true;
        if (success) {
          alert("¡Producto creado con éxito!");
        }
        return success;
      }
    </script>
    <%- include("../partials/footer") %>
</body>

</html>