<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creación de producto</title>
    <%- include("../partials/head") %>
    <script
      src="https://kit.fontawesome.com/b42ec8045a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/createProduct.css" />
  </head>

  <body>
    <%- include("../partials/header") %>
    <main class="create-main">
      <div class="container_createProduct">
        <form
          class="create-form"
          action="/products/"
          method="post"
          onsubmit="showSuccessAlert()"
        >
          <section class="register-title-form">
            <h1 class="tit-links">Crear tu producto</h1>
          </section>
          <div class="campos">
            <label for="img">Imágen (URL):</label>
            <input type="text" name="img" id="img" required />
            <br />
            <label for="title">Título:</label>
            <input type="text" name="title" id="title" required />
            <br />
            <label for="code">Código:</label>
            <input type="text" name="code" id="code" required />
            <br />
            <label for="brand">Marca:</label>
            <input type="text" name="brand" id="brand" required />
            <br />
            <label for="info">Características:</label>
            <input type="text" name="info" id="info" required />
            <br />
            <label for="weight">Peso:</label>
            <input type="number" name="weight" id="weight" required />
            <br />
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" required />
            <br />
            <label class="create-descrip" for="description">Descripción:</label>
            <textarea
              name="description"
              id="description"
              rows="4"
              required
            ></textarea>
            <br />
            <input class="create-button" type="submit" value="Crear Producto" />
          </div>
        </form>
      </div>
    </main>
    <script>
      function showSuccessAlert() {
        const success = true;
        if (success) {
          alert("¡Producto creado con éxito!");
        }
        return success;
      }
    </script>
    <%- include("../partials/footer") %>
  </body>
</html>
