<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;800;900&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    
    <!--Hoja de Estilos para footer y header-->
    <link href="css/home-style.css" rel="stylesheet">
    <!--Hoja de Estilos para register-->
    <link href="/css/register-style.css" rel="stylesheet">
    <!--Hoja de Estilos para register-->
    <link href="/css/detail-style.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container-logo-cart-user">
      <button class="home__hamburguer">
        <i class="fa-solid fa-bars"></i>
      </button>
      <a href="/"><img src="/img/logo2.png" alt="logo" /></a>
      <button class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <button class="login">
        <i class="fa-solid fa-circle-user"></i>
        <span>UserName</span>
        <i class="fa-solid fa-angle-down"></i>
      </button>
    </div>
    <div class="search-bar">
      <form action="">
        <input type="text" />
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </header>
  <nav class="home__navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Promociones</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Contáctanos</a></li>
    </ul>
    <button class="home__hamburguer">
        <i class="fa-solid fa-bars"></i>
    </button>
</nav>

