<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa7f7269a5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <heade>

    </header>
        <main>
            <title>Formulario de registro</title>
            <form action="resultado.html" method="POST">
                <section>
                    <p>
                        <label for="usuario">Nombre de usuario</label>
                        <input type="text" name="usuario" id="usuario" required>
                    </p>
                    <p>
                        <label for="email">e-mail</label>
                        <input type="email" name="email" id="email" required>
                    </p>
                    <p>
                        <label for="nombre">Password</label>
                        <input type="password" name="password" id="password" required>
                    </p>
                    <p>
                        <label>Registrarse</label>
                        <input type="submit" value="Enviar"> Enviar
                    </p>
                </section>
        </main>
    <footer>

    </footer>
</body>

</html>