* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*
  Header (para todas las paginas?)
*/
header {
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;*/
  padding: 20px 0 20px 0px;
  background-color: #d97652;
}

div.container-logo-cart-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0% 5%;
}

div.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 5%;
}

header img {
  height: 9vh;
}

header form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
}

header form button {
  border: none;
  background: none;
}

header form input {
  width: 85%;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
}

.cart {
  border: none;
  background: none;
  padding: 4px;
  font-size: 1.5rem;
}

.login {
  display: none;
  align-items: center;
  padding: 4px;
  background-color: #f28c0f;
  border-radius: 15px;
}

.fa-circle-user {
  font-size: large;
}

.login span {
  margin-left: 2px;
  margin-right: 3px;
  font-size: x-small;
  color: rgb(86, 79, 79);
  font-weight: 600;
}

.home__navbar {
  display:none;
  padding: 10px;
  background-color: #f2f2f2;
}

.home__navbar ul {
  list-style: none;
  font-size: small;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.home__navbar ul li {
  margin-left: 5px;
  margin-right: 5px;
}

.home__navbar a {
  text-decoration: none;
  color: rgb(86, 79, 79);
}

.home__navbar ul li a {
  display: none;
}

.home__hamburguer {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.banner {
  /*margin: 10px 0 10px 0;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

h4 {
  color: #d97652;
}

.recent-products {
  margin-left: 1rem;
}

.products-img {
  text-align: center;
}

.promotion {
  position: relative;
  display: inline-block;
}

.promotion i {
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.product-name,
.product-price {
  text-align: center;
  margin: 1rem;
  margin-top: 0;
}

.bottom-buy {
  background-color: rgb(90, 180, 90);
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin: 1rem;
  font-size: larger;
}

article {
  margin-bottom: 1rem;
  margin-top: 10px;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 0.1rem;
  width: 90%;
  text-align: center;
}

main {
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin-top: 1rem;
}
.container-brands{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-top: 1rem;
}
.brands{
  width: 25%;
}
.brands img{
  width: 100%;
}
/*
  Footer (para todas las paginas?)
*/
footer {
  background-color: #d97652;
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 10%;
  /*display: flex;
  justify-content: flex-start;
  */
}

ul {
  list-style-type: none; /* Elimina los puntos de la lista */
}

.links {
  margin-bottom: 1rem;
}

.icons i {
  font-size: 35px;
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
}

.promotion {
  background-color: red;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.recent-products {
  margin: 1rem;
}

.logo {
  padding: 2%;
}

.list {
  display: none;
}

/*tablet*/
@media (min-width: 576px) {

  .home__navbar{
    display:block;
  }
  
  .home__navbar ul li a {
    display: initial;
  }

  .login{
    display: initial;
  }

  .home__hamburguer {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  div.container-logo-cart-user {
    display: contents;

  }

  .login,
  .cart {
    order: 1
  }

  div.search-bar{
    width: 50%;
    margin: 0
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  article {
    width: 40%;
  }

  .list {
    display: initial;
  }
}

/*desktop*/
@media (min-width: 992px) {
  
  /*header form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 5px;
  }*/

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 20%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .contenedor-footer {
    display: flex;
    padding: 5% 2% 2% 5%;
  }

  .links {
    width: 40%;
  }

  .logo {
    padding: 0;
    width: 20%;
  }

  footer {
    padding-bottom: 5%;
  }
}
