* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* MAIN */
main {
  background-color: #d97652;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}

.name-page {
  margin: auto;
  padding: 5%;
  max-width: 800px;
}

.name-page h2 {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  color: #f28c0f;
  width: 100%;
  padding: 5px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-img {
  background-color: #f2f2f2;
  width: 90%;
  margin: 20px;
  border: 1px;
  border-radius: 15px;
  max-width: 600px;
}
.product-img img {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 500px;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-name-details {
  background-color: #f2f2f2;
  width: 90%;
  margin: 20px;
  border: 1px;
  border-radius: 15px;
  text-align: center;
  padding: 3% 0%;
  max-width: 450px;
}
.product-name-details p {
  font-weight: bold;
}

.product-code,
.brand,
.add-product {
  background-color: #f2f2f2;
  width: 90%;
  margin: 20px;
  border: 1px;
  border-radius: 15px;
  text-align: center;
  padding: 3% 0%;
  max-width: 450px;
}

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.product-price {
  background-color: #f2f2f2;
  width: 90%;
  margin: 20px;
  border: 1px;
  border-radius: 15px;
  text-align: center;
  padding: 3% 0%;
  max-width: 450px;
}

.cant {
  background-color: #f2f2f2;
  border: 1px solid rgb(158, 150, 150);
  width: 90%;
  max-width: 450px;
  margin: 20px;
  border: 1px;
  border-radius: 15px;
  text-align: center;
  padding: 3% 0%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.product-description {
  display: none;
}

.icons-math button {
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.cart-minus-btn {
  padding: 5px;
  background-color: red;
  border-radius: 8px;
  color: #f2f2f2;
}

.cart-plus-btn {
  padding: 5px;
  background-color: green;
  border-radius: 8px;
  color: #f2f2f2;
}

.buttons_edit_delete button{
  color: #d97652;
  font-size: 1.17em;
  font-weight: bold;
  border: 1px solid;
  padding: 10px;
  border-radius: 13px;
  cursor: pointer;
  margin: 12px;
}

/* tablet */
@media (min-width: 576px) {
  .product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
  }
  .product-description h3 {
    width: 50%;
    text-align: center;
    border: 2px solid #d97652;
    border-radius: 15px 15px 0 0;
    background-color: #f2f2f2;
    max-width: 350px;
  }
  .product-description p {
    background-color: #f2f2f2;
    width: 90%;
    border: 2px solid #d97652;
    border-radius: 15px;
    text-align: center;
    padding: 3% 0%;
    max-width: 750px;
    margin-bottom: 15px;
  }
  .product-details {
    background-color: #f28c0f;
    border-radius: 15px;
    border: 2px solid #f2f2f2;
    max-height: 880px;
    margin: 20px;
  }
  .product-buttons {
    display: flex;
  }
  .cant {
    display: flex;
    align-items: center;
  }

  .product-img {
    margin-right: 0%;
  }
}
/* desktop  */
@media (min-width: 992px) {
  .product-details {
    max-height: 1100px;
  }
  .product {
    flex-direction: row;
  }
  .product-img {
    max-width: 800px;
  }
  .product-img img {
    max-width: 800px;
  }
}

@media (min-width: 1300px) {
  .product-img {
    max-width: 900px;
  }
  .product-img img {
    max-width: 900px;
  }
}
