* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*font-family: 'League Spartan', sans-serif;
  font-family: 'Roboto', sans-serif;*/
}

/*
  Header (para todas las paginas?)
*/
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 20px 0 10px 0px;
  background-color: #d97652;
}

header img {
  height: 11vh;
}

header form {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
}

header form button {
  border: none;
  background: none;
}

header form input {
  width: 85%;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
}

.cart {
  border: none;
  background: none;
  padding: 4px;
  font-size: medium;
}

.login {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #f28c0f;
  border-radius: 15px;
}

.fa-circle-user {
  font-size: large;
}

.login span {
  margin-left: 2px;
  margin-right: 3px;
  font-size: x-small;
  color: rgb(86, 79, 79);
  font-weight: 600;
}

.home__navbar {
  padding: 10px;
  background-color: #f2f2f2;
}

.home__navbar ul {
  list-style: none;
  font-size: small;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.home__navbar ul li {
  margin-left: 5px;
  margin-right: 5px;
}

.home__navbar a {
  text-decoration: none;
  color: rgb(86, 79, 79);
}

.home__navbar ul li a {
  display: none;
}

.home__hamburguer {
  background: none;
  border: none;
  font-size: medium;
}

.banner {
  /*margin: 10px 0 10px 0;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

h4{
  color: #d97652;
}

.recent-products{
  margin-left: 1rem;
}

.products-img {
  text-align: center;
}

.promotion{
  position: relative;
  display: inline-block;
}

.promotion i{
  position: absolute;
  color: white; 
  padding: 5px; 
  border-radius: 50%; 
}

.product-name,
.product-price{
  text-align: center;
  margin: 1rem;
  margin-top: 0;
}

.bottom-buy{
  background-color: rgb(90, 180, 90);
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin: 1rem;
  font-size:larger
}

article{
  margin-bottom: 1rem;
  border: 15px;
  flex: 1;
  margin-top: 10px;
  background-color: #f2f2f2;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.1rem;
  width: 100%;
}

main {
  font-family: 'League Spartan', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-top: 1rem;
}

/*
  Footer (para todas las paginas?)
*/
footer {
  background-color: #d97652;
  font-family: 'League Spartan', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 10%;
  /*display: flex;
  justify-content: flex-start;
  */
}

.links{
  margin-bottom: 1rem;
}

.icons i{
  font-size: 35px;
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
}

.promotion{
  background-color: red;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: white
}

/* colocarlo en el media de desktop y tablet
.recent-products{
  margin-left: 1rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}*/

/*tablet*/
@media (min-width:361px) {
  .home__navbar ul li a {
    display: initial;
  }

  .home__hamburguer {
    display: none;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
  }

  article{
    width: 700px;
  }

}

/*desktop*/
@media (min-width:769px) {

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
  }

  article{
    width: 300px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

}