/*ESTILOS PARA userEdit*/

.userEdit-main {
    color: white;
    background-image: url(/img/fondo-login.png);
    background-color: #cc9c84;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.17em;
}

form.userEdit-form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    line-height: 1.4em;
    border-radius: 20px;
}

.tit-links {
    color: #d97652;
}

section.userEdit-title-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.userEdit-section {
    color: darkgrey;
    font-size: 0.9em;
}

div.campos input {
    width: 100%;
}

.userEdit-button {
    color: #d97652;
    width: 40%;
    height: 100%;
    font-size: 1em;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.userEdit-button:hover {
    transition: all 0.5s;
    color: #f2f2f2;
    background-color: #d97652;
    transform: scale(1.03);
}

.text-error {
    color: red;
    font-weight: lighter;
    font-style: italic;
}

.image {
    max-width: 400px;
}

.image img {
    width: 100%;
    height: 100%;
    border-color: black;
    border-radius: 10%;
}