<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("partials/head") %>
    <title>Document</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Stores-->
    <link href="../css/about-mishis-style.css" rel="stylesheet" />
</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <div class="big-container-1">
        <h1>Cómodo, rápido, y fácil</h1>
        <div class="services">
          <div class="each-service">
            <div class="container-img-services"><img src="/img/food-cat.png"></div>
            <div class="description-service">
              <h4>5.000 productos a un click</h4>
              <p>Hacer las compras para tu mascota es ahora más cómodo. Desde tu computadora o móvil, accedés a la más
                amplia variedad de productos en el mercado.</p>
            </div>
          </div>
          <div class="each-service">
            <div class="container-img-services"><img src="/img/ship-bus.png"></div>
            <div class="description-service">
              <h4>En tu casa en horas</h4>
              <p>Podés recibir tu compra en 24hs si vivís dentro de nuestro área de cobertura que comprende la mayor
                parte
                de Santiago del Estero y La Banda. En el resto del país podés recibirlo en pocos días y al mejor precio.
              </p>
            </div>
          </div>
          <div class="each-service">
            <div class="container-img-services"><img src="/img/store.png"></div>
            <div class="description-service">
              <h4>Retirá SIN CARGO por una sucursal</h4>
              <p>Elegí los productos para tu mascota, seleccioná la sucursal donde querés retirar los productos!
                <br>
                Podés retirar tu pedido sin cargo y de un día hábil para otro en la mayoría de nuestras sucursales.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="big-container-2">
        <h1>Sobre Mishis</h1>
        <div class="box-des-img">
          <p>
            Mishis es la primera y única cadena de tiendas en el país especializada en productos y servicios para los
            adorables compañeros felinos. Nos comprometemos a brindarte una experiencia de compra única, ofreciendo una
            amplia gama de productos y servicios de alta calidad que satisfacen las necesidades de tus Mishis y
            garantizan tu satisfacción como dueño.En Mishis, reconocemos a los gatos como miembros importantes de la
            familia, merecedores de cuidados excepcionales para asegurarles una vida plena y feliz. Por eso, te
            ofrecemos una gran variedad de alimentos, juguetes, accesorios, servicios veterinarios de expertos, opciones
            de adopción y mucho más. Visita cualquiera de nuestras 30 sucursales, diseñadas con instalaciones modernas y
            confortables, o explora nuestro sitio web donde encontrarás un amplio catálogo de productos, promociones y
            servicios pensados especialmente para consentir a tus Mishis.
            En Mishis, siempre pensamos en el bienestar de tus gatos.
          </p>
          <div class="container-img"><img src="/img/mishi-stores.jpeg"></div>
        </div>
      </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>