<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("partials/head") %>
    <title>Cambios y Devoluciones</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Stores-->
    <link href="../css/changes-style.css" rel="stylesheet" />

</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div class="container-img-changes"><img src="/img/cat-changes.jpg"></div>
    <h1 class="title-changes">Cambios y Devoluciones</h1>
    <div class="text-container">
        <div class="principal-text">
            En Mishis, entendemos lo importante que es para usted brindar lo mejor a su felino amigo. 
            Por eso, nos esforzamos por asegurarnos de que tu experiencia de compra sea impecable.
            Aquí te presentamos nuestras opciones de cambios y devoluciones, diseñadas para ofrecerte 
            tranquilidad y satisfacción en cada compra.

            <div class="important">IMPORTANTE</div>

            <strong>Cambio Gratuito de Alimentos en Sucursales:</strong> Si por alguna razón necesitas cambiar 
            el alimento que compraste para tu gato, puedes hacerlo fácilmente en cualquiera de nuestras 
            sucursales. Solo trae el producto cerrado en perfectas condiciones, junto con tu ticket o 
            factura, y con gusto te asistiremos. Por favor, ten en cuenta que no aceptaremos productos 
            abiertos o en condiciones deterioradas.
    
            <strong>Cambio Gratuito de Accesorios en Sucursales:</strong> ¿No estás completamente satisfecho con 
            el accesorio que adquiriste? No te preocupes. Tienes hasta 15 días luego de recibir tu pedido 
            para realizar un cambio en cualquiera de nuestras sucursales, sin costo alguno. Simplemente 
            acércate con tu factura o ticket y el producto en buenas condiciones y sin uso, y te ayudaremos 
            a encontrar la mejor solución.
    
            <strong>Cambios y Devoluciones Online:</strong> Si prefiere la comodidad de las compras en línea, 
            también estamos aquí para usted. Puedes solicitar un cambio o devolución sin costo alguno 
            dentro de los DIEZ (10) días corridos a partir de la fecha de recepción del producto. 
    
            <strong>Por favor, ten en cuenta que no realizamos devoluciones en efectivo. </strong>
            
            En Mishis, nos esforzamos por brindarte la mejor experiencia de compra posible, y estamos aquí 
            para apoyarte en cada paso del camino.
        </div>
    </div>
    <h3 class="final-text">¡Gracias por confiar en nosotros para las necesidades de tu gato!</h3>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>