<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Esta es la pagina HOME</h1>
        <ul>
            <li><a href="/login">Iniciar Sesion</a></li>
            <li><a href="/sign-up">Registrarse</a></li>
        </ul>
    </header>
    <div class="cuerpo">
        <h2>Hola Mundo!</h2>
    </div>
    <footer>
        <h3>Referencias a redes sociales</h3>
    </footer>
</body>

</html>