<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("partials/head") %>
  <title>Home</title>
  <script src="https://kit.fontawesome.com/b42ec8045a.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div class="banner">
      <img src="img/cat-banner-2.gif" width="100%" alt="gift-banner" />
    </div>
    <div class="slider">
      <img src="img/gatos-banner.png" width="95%" alt="banner-promotion" />
    </div>
    <div class="recent-products">
      <h3>Productos más recientes</h3>
      <h4>Ver todos los productos ></h4>
    </div>

    <div class="container">
      <article>
        <div class="products-img">
          <img src="/img/alimento-purina.png" width="92%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Pro Plan OptiRenal Sterilized para gato adulto sabor
            salmón y arroz en bolsa de 7.5 kg
          </p>
        </div>
        <div class="product-price">
          <h3>$34.000,00</h3>
        </div>
        <a href="/products/details">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="products-img">
          <img src="/img/alimento-whiskas.png" width="100%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Whiskas 1+ Whiskas Gatos para gato adulto sabor carne en
            bolsa de 3 kg
          </p>
        </div>
        <div class="product-price">
          <h3>$17.000,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="products-img">
          <img src="/img/piedras-purina.png" width="80%" alt=" " />
        </div>
        <div class="product-name">
          <p>Piedras sanitarias para gatos Purina Tidy Cats 1,8Kg</p>
        </div>
        <div class="product-price">
          <h3>$1.500,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="products-img">
          <img src="/img/comida-humeda-whiskas.png" width="100%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Whiskas para gato de temprana edad sabor carne en salsa
            en sobre de 85 g
          </p>
        </div>
        <div class="product-price">
          <h3>$5.000,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>
    </div>

    <div class="recent-products">
      <h3>Promociones vigentes</h3>
      <h4>Ver todas las promociones ></h4>
    </div>

    <div class="container">
      <article>
        <div class="promotion">
          <h2>2x1</h2>
        </div>
        <div class="products-img">
          <img src="/img/alimento-purina.png" width="92%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Pro Plan OptiRenal Sterilized para gato adulto sabor
            salmón y arroz en bolsa de 7.5 kg
          </p>
        </div>
        <div class="product-price">
          <h3>$34.000,00</h3>
        </div>
        <a href="/productDetail">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="promotion">
          <h2>30% de descuento</h2>
        </div>
        <div class="products-img">
          <img src="/img/alimento-whiskas.png" width="100%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Whiskas 1+ Whiskas Gatos para gato adulto sabor carne en
            bolsa de 3 kg
          </p>
        </div>
        <div class="product-price">
          <h3>$17.000,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="promotion">
          <h2>Llevate un regalo</h2>
        </div>
        <div class="products-img">
          <img src="/img/piedras-purina.png" width="80%" alt=" " />
        </div>
        <div class="product-name">
          <p>Piedras sanitarias para gatos Purina Tidy Cats 1,8Kg</p>
        </div>
        <div class="product-price">
          <h3>$1.500,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>

      <article>
        <div class="promotion">
          <h2>20% de Descuento</h2>
        </div>
        <div class="products-img">
          <img src="/img/comida-humeda-whiskas.png" width="100%" alt=" " />
        </div>
        <div class="product-name">
          <p>
            Alimento Whiskas para gato de temprana edad sabor carne en salsa
            en sobre de 85 g
          </p>
        </div>
        <div class="product-price">
          <h3>$5.000,00</h3>
        </div>
        <a href="#">
          <div class="bottom-buy"><strong>Comprar</strong></div>
        </a>
      </article>
    </div>

    <div class="recent-products">
      <h3>Nuestras marcas</h3>
      <h4>Ver todas las marcas ></h4>
    </div>

    <div class="container-brands">
      <div class="brands">
        <a href="https://www.purina.com.ar/purina-one"><img src="/img/logo-purina.png" alt=" " /></a>
      </div>
      <div class="brands">
        <a href="https://www.whiskas.com.ar"><img src="/img/logo-whiskas.png" alt=" " /></a>
      </div>
      <div class="brands">
        <a href="https://www.royalcanin.com/ar"><img src="/img/logo-royalcanin.png" alt=" " /></a>
      </div>
      <div class="brands">
        <a href="https://catpro.com.ar"><img src="/img/logo-catpro.png" alt=" " /></a>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>