<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <img src="../../design/logo.png" alt="logo" />
      <form action="">
        <input type="text" />
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <button class="cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <button class="login">
        <i class="fa-solid fa-circle-user"></i>
        <span>UserName</span>
        <i class="fa-solid fa-angle-down"></i>
      </button>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
