<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <h1>Esta es la pagina LOGIN</h1>
        <ul>
            <li><a href="/home">Volver a Home</a></li>
        </ul>
    </header>
    <div class="cuerpo">
        <h2>Aqui irá el formulario de login</h2>
    </div>
    <footer>
        <h3>Referencias a redes sociales</h3>
    </footer>
</body>

</html>