<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&display=swap" rel="stylesheet">
</head>

<body class="login">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home">
                        <img src="img/Logo-cutted.png" alt="Logo" />
                    </a>
                </li>
                <li>
                    <input type="search" placeholder="Buscar Cositas uwu..." />
                </li>
                <li>
                    <a href="/shopping-cart">
                        <ion-icon name="cart" id="shopping-cart_icon"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="/login">Iniciar Sesion</a>
                </li>
                <li>
                    <a href="/sign-up">Registrarse</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Aqui irá el formulario de login</h2>
    </main>
    <footer>
        <h3>Referencias a redes sociales</h3>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>