<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("partials/head") %>
    <title>Stores</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Stores-->
    <link href="../css/stores-style.css" rel="stylesheet" />

</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <div class="description">
        <h4>Sucursales</h4>
        <p>
          Preservemos la salud y el bienestar de todos.
          <br>
          Atención al Cliente:
          0810-999-6288 o contactate con la sucursal
        </p>
      </div>
      <div class="row">
          <div class="list-stores">
            <div class="column scroll-container" id="scroll-container">
                <div id="section-1" class="section">
                    <h4>Av. Belgrano Nte. 79</h4>
                    <p>Av. Belgrano Nte. 79, G4200 HUG, Santiago del Estero</p>
                </div>
                <div id="section-2" class="section">
                    <h4>Av. Belgrano Nte. 139</h4>
                    <p>Av. Belgrano Nte. 139, G4200 HUK, Santiago del Estero</p>
                </div>
                <div id="section-3" class="section">
                  <h4>Independencia 28</h4>
                  <p>Independencia 28, G4204 Santiago del Estero</p>
              </div>
                <div id="section-4" class="section">
                    <h4>Las Heras 64</h4>
                    <p>Las Heras 64, La Banda, Santiago del Estero</p>
                </div>
                <div id="section-5" class="section">
                    <h4>Avellaneda 70</h4>
                    <p>Avellaneda 70, La Banda, Santiago del Estero</p>
                </div>
                <div id="section-6" class="section">
                  <h4>España 227</h4>
                  <p>España 227, La Banda, Santiago del Estero</p>
              </div>
              <div id="section-7" class="section">
                <h4>Coronel Rivas 125</h4>
                <p>Coronel Rivas 125, La Banda, Santiago del Estero</p>
            </div>
            <div id="section-8" class="section">
              <h4>Portal Santiago Shopping</h4>
              <p>Av. Rivadavia 4200, G4200LYD Santiago del Estero</p>
          </div>
          <div id="section-9" class="section">
            <h4>Av. Belgrano 576</h4>
            <p>Av. Belgrano 576, La Banda, Santiago del Estero</p>
        </div>
        <div id="section-10" class="section">
          <h4>Republica del Líbano Sur 107</h4>
          <p>Republica del Líbano Sur 107, La Banda, Santiago del Estero</p>
        </div>
        <div id="section-11" class="section">
          <h4>Hiper Libertad</h4>
          <p>Autopista Juan D. Perón Building 46, G4300 Santiago del Estero</p>
        </div>
        <div id="section-12" class="section">
          <h4>Av. Belgrano Sur 1770</h4>
          <p>Av. Belgrano Sur 1770, G4300 Santiago del Estero</p>
        </div>
        <div id="section-13" class="section">
          <h4>Av. Colón 1058</h4>
          <p>Av. Colón 1058, G4300 Santiago del Estero</p>
        </div>
        <div id="section-14" class="section">
          <h4>C. Leopoldo Lugones 1398</h4>
          <p>C. Leopoldo Lugones 1398, G4300 Santiago del Estero</p>
        </div>
        <div id="section-15" class="section">
          <h4>Necochea 793</h4>
          <p>Necochea 793, G4202 La Banda, Santiago del Estero</p>
        </div>
            </div>
          </div>
          <div class="map-container">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1z7oMpmkWRTBGNk6qCuGv5j4O5FYED8A&ehbc=2E312F" width="640" height="480"></iframe>
          </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>