<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("partials/head") %>
    <title>Términos y Condiciones</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Stores-->
    <link href="../css/terms-style.css" rel="stylesheet" />

</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div>
      Términos y Condiciones de Mishis
    
      ¡Bienvenido a Mishis, tu destino exclusivo para accesorios y alimentos de alta calidad para gatos! A continuación, te
      presentamos nuestras reglas básicas para utilizar nuestro servicio, perteneciente a Silver Pet S.A., que de ahora en
      adelante llamaremos "Las Reglas Mishis".
    
      Área de Cobertura y Entrega:
      Nuestra área de entrega incluye una amplia cobertura detallada en la sección de Entrega. Cualquier pedido fuera de
      esta área está sujeto a disponibilidad.
    
      Retiro en Sucursales:
      Contamos con sucursales distribuidas estratégicamente en diferentes zonas para que puedas retirar tus pedidos. Desde
      Capital Federal hasta G.B.A. y Rosario, tenemos puntos de recolección disponibles.
    
      Uso del Sitio Web:
      El uso de nuestro sitio web, www.mishis.com.ar, implica la aceptación de Las Reglas Mishis. Natural Life se reserva el
      derecho de modificar estas reglas en cualquier momento sin previo aviso.
    
      Privacidad y Protección de Datos:
      Respetamos tu privacidad y protegemos tus datos personales de acuerdo con la ley aplicable. Toda la información
      proporcionada se utilizará únicamente para fines comerciales y en cumplimiento con las normativas de protección de
      datos.
    
      Compra de Productos:
      La compra de productos está sujeta a disponibilidad de stock. Las características técnicas, precios y ofertas pueden
      variar sin previo aviso.
    
      Precios y Condiciones de Pago:
      Todos los precios incluyen IVA. Los precios pueden variar al momento de facturar los productos. Aceptamos diferentes
      formas de pago, incluyendo efectivo, transferencia bancaria, tarjetas de crédito y débito.
    
      Indemnidad:
      El usuario se compromete a mantener indemne a Mishis de cualquier reclamo derivado del uso del sitio web.
    
      Derechos de Marca y Propiedad Intelectual:
      Todos los elementos del sitio web son propiedad de Mishis y está prohibida su reproducción o distribución sin
      autorización.
    
      Política de Devolución:
      Aceptamos devoluciones de productos en condiciones inadecuadas o incorrectas. El cliente debe comunicarse con nosotros
      dentro de las 48 horas posteriores a la recepción del pedido.
    
      Derecho de Arrepentimiento:
      Los clientes tienen un plazo de 10 días corridos para manifestar su arrepentimiento desde la compra. El procedimiento
      de arrepentimiento se realiza según lo establecido por la ley.
    
      ¡Gracias por confiar en Mishis para las necesidades de tu gato!
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>