<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("partials/head") %>
    <title>Trabajá con Nosotros</title>
    <script src="https://kit.fontawesome.com/6d37a11b52.js" crossorigin="anonymous"></script>
    <!--Hoja de Estilo para Stores-->
    <link href="../css/workWU-style.css" rel="stylesheet" />

</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div class="container-info">
      <div class="text">
        <h1>
          ¡Trabajá con Nosotros!
          <br>
        </h1>
        <br>
        <p class="principal-text">
          Unirte a nuestro equipo en Mishis significa formar parte de
          un entorno donde se valora el crecimiento profesional,
          la excelencia en el trabajo y el espíritu de equipo.
          Nuestro objetivo es que cada integrante pueda desarrollar
          al máximo sus habilidades y conocimientos en un ambiente
          estimulante y desafiante.

          Si estás interesado en ser parte de nuestro equipo,
          nos encantaría conocerte y explorar juntos esta nueva
          oportunidad. Contáctanos a través de nuestras redes.
          <br>
        </p>
        <p class="final-text">Mishis, lo que todo gato elige.</p>
      </div>
      <div class="container-img"><img src="/img/cat-work2.png"></div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>