<header>
  <div class="container-logo-cart-user">
    <button class="home__hamburguer">
      <i class="fa-solid fa-bars"></i>
    </button>
    <a href="/"><img src="/img/logo2.png" alt="logo" /></a>
    <button class="cart">
      <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </button>
    <div class="dropdown">
      <button class="login">
        <i class="fa-solid fa-circle-user"></i>
        <span>UserName</span>
        <i class="fa-solid fa-angle-down"></i>
      </button>
      <div class="dropdown-content">
          <a href="/users/register">Registrarse</a>
          <a href="/users/login">Iniciar Sesión</a>
      </div>
  </div>
  </div>
  <div class="search-bar">
    <form action="">
      <input type="text" />
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</header>
<nav class="home__navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Productos</a></li>
    <li><a href="#">Marcas</a></li>
    <li><a href="#">Promociones</a></li>
    <li><a href="#">Sucursales</a></li>
    <li><a href="#">Contáctanos</a></li>
  </ul>
</nav>