<footer>
  <div class="contenedor-footer">
    <div class="logo">
      <img src="/img/logo2.png" width="100%" alt="logo" />
    </div>
    <div class="links">
      <h3 class="footer-h6">Nosotros</h3>
      <div class="list">
        <ul>
          <a href="/aboutMishis">Sobre Mishis</a>
          <li><a href="/workWithUs">Trabaja con nosotros</a></li>
        </ul>
      </div>
    </div>
    <div class="links">
      <h3 class="footer-h6">Tienda Online</h3>
      <div class="list">
        <ul>
          <li><a href="/methodDelivery">Formas de Entrega</a></li>
          <li><a href="/changes">Cambios y Devoluciones</a></li>
          <li><a href="https://adecse.org.ar/"target="_blank">Defensa al Consumidor</a></li>
        </ul>
      </div>
    </div>
    <div class="links">
      <h3 class="footer-h6">Información</h3>
      <div class="list">
        <ul>
          <li><a href="/terms">Términos y Condiciones</a></li>
          <a href="/privacyPolicies"><li>Políticas de Privacidad</li></a>
          <a href="/frequentQuestions"><li>Preguntas Frecuentes</li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="icons">
    <a href="#"><i class="fa-brands fa-square-facebook" font-size="20px"></i></a>
    <a href="#"><i class="fa-brands fa-square-x-twitter" font-size="20px"></i></a>
    <a href="#"><i class="fa-brands fa-square-instagram" font-size="20px"></i></a>
    <a href="#"><i class="fa-brands fa-cc-paypal" font-size="20px"></i></a>
    <a href="#"><i class="fa-solid fa-message" font-size="20px"></i></a>
  </div>
</footer>