/*ESTILOS PARA REGISTER*/

.register-main {
  color: white;
  background-image: url(/img/fondo-login.png);
  background-color: #cc9c84;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 1.17em;
}

form.register-form {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  line-height: 1.4em;
  border-radius: 20px;
}

.tit-links {
  color: #d97652;
}

section.register-title-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


section.register-section {
  color: darkgrey;
  font-size: 0.9em;
}

.register-title-form h1{
  margin: 10px;
}

.register-title-form a{
  margin: 10px;
}

.campos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.campos input {
  width: 25vh;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  margin:8px
}
.campos input[type="file"] {
  width: 100%; 
  border: 1px solid #ccc;
  margin-left: auto; 
  margin-right: auto; 
}
.register-button {
  color: #d97652;
  width: 50%;
  height: 100%;
  font-size: 1.2em;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}
.container-register-button{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 18px;
}

.register-button:hover {
  transition: all 0.5s;
  color: #f2f2f2;
  background-color: #d97652;
  transform: scale(1.03);
}

.text-error{
  color:red;
  font-weight: lighter ;
  font-style: italic;
}

.checkbox{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:20px
}

p{
  text-align: center;
}

/* tablet */
@media (min-width: 576px) {
  div.campos input {
    width:40vh;
  }
}

/* desktop  */
@media (min-width: 992px) {
  div.campos input {
    width: 40vh;
  }
}