<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <%- include("../partials/head") %>
    <script
      src="https://kit.fontawesome.com/b42ec8045a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d37a11b52.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include("../partials/header") %>
    <main>
      <h1>Error 404</h1>
      <h3>Página no encontrada</h3>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
